[package]
name = "proto"
version = "0.0.0"
edition = "2024"

[build-dependencies]
tonic-prost-build = "0.14"

[dependencies]
tonic = { workspace = true }
tonic-prost = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
